* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        background-color: #b9ddff;
    
}


header ul {
    list-style-type: none;
    margin-top: 30px;
}

header ul li a {
    background-color: #fff;
    display: block;
    width: 8em;
    height: 2.5em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.397)

}

header ul li:nth-child(2) a{
    background-color: rgb(175, 118, 212);
    color: #fff;
}

header ul li:nth-child(1) a{
    background-color: #fff;
    opacity: 0.8;
}

main {
    padding: -220px;
}
main section {
    width: 80%;
    background-color: #fff;
    opacity: 0.7;
    height: 60vh;
    display: block;
    margin: 80px auto;
    border-radius: 60px;
}